.footer{
    width: 100%;
    position: fixed;  
    bottom: 0;
    height: 42px;
    background-color: darkslategrey;
    color: white;
    margin-top: 200px;
}

.footer-p{
    font-size: 20px;
    text-align: center;
    padding-top: 3px;
}