.ul{
    display: flex;
    list-style: none;
    padding-right: 10px;
    font-size: 25px;
}

.li{
    text-decoration: none;
    color: white;
    margin-left: 20px;
}

.nav{
    display: flex;
}

.email{
    font-size: 25px;
    font-weight: bold;
}

.emailPlain{
    font-size: 25px;
}